*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.main{
	width: 100%;
	background: white;
}

.header{
	width: 100%;
	height: 170px;
	margin: auto;
	border-bottom: .5px solid lightgray;
}

.tophead{
	width: 100%;
	height: 38px;
	background: #a37037;
	padding-top: 10px;
	box-sizing: border-box;
	color: white;
	font-family: arial;
}

.topleft{
	width: 50%;
	font-size: 14px;
	margin-left: 170px;
	box-sizing: border-box;
	float: left;
}

.topright{
	float: left;
	font-size: 14px;
	letter-spacing: 1px;
}

.call{
	width: 160px;
	border-right: 0.1px solid lightgray;
	float: left;
}

.helpcenter{
	width: 140px;
	border-right: 0.1px solid lightgray;
	float: left;
	margin-left: 20px;
}

.help{
	font-size: 16px;
}

.topright a{
	float: left;
	margin-left: 10px;
}

.midhead{
	width: 1200px;
	margin: auto;
}

.mainlogo{
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}

.searchbox{
	width: 635px;
	height: 35px;
	margin-left: 128px;
	margin-top: 30px;
	border: 1px solid lightgray;
	float: left;
	padding-left: 10px;
}


.like{
	margin-left: 30px;
	margin-top: 40px;
	padding-bottom: 6px;
	float: left;
}

.cart{
	margin-top: 33px;
	margin-left: 20px;
	float: left;
}

.userlogo{
	margin-top: 33px;
	margin-left: 10px;
	float: left;
}

.loginreg{
	float: left;
	margin-top: 45px;
	font-family: arial;
	font-weight: bold;
	font-size: 14px;
}

.reg{
	margin-left: 5px;
}

.loginreg a{
	text-decoration: none;
	color: black;
}

.loginreg a:hover{
	color: orange;
	transition: 0s;
}

.menubar{
	width: 90%;
	margin-left: 150px;
	float: left;
	box-sizing: border-box;
}

.menu a{
	text-decoration: none;
	color: black;
	font-family: arial;
	font-size: 14px;
	font-weight: 600;
	float: left;
	margin-top: 25px;
	margin-left: 53px;
}

.menu a:hover{
	border-bottom: 1px solid orange;
	color: orange;
	transition: 0s;
}

.center{
	width: 100%;
	margin: auto;
}

.saleimg{
	width: 1400px;
	margin: auto;
	float: center;
}

.saleimg img{
	width: 100%;
	height: 500px;
	margin-top: 30px;
}

.reqcallback{
	border: 0.5px solid #f6931c;
	width: 196px;
	height: 30px;
	color: white;
	text-align: center;
	font-size: 20px;
	font-family: arial;
	background: #f6931c;
	position: fixed;
	right: -80px;
	bottom: 280px;
	transform: rotate(90deg);
	padding-top: 10px;
}

.reqcallback:hover{
	background: white;
	color: #f6931c;
	transition: 0s;
}

.policy{
	width: 1200px;
	height: 100px;
	margin: auto;
	margin-top: 30px;
	font-family: arial;
}

.shipping{
	width: 24%;
	height: 100px;
	float: left;
}

.policy img{
	float: left;
	margin-right: 30px;
}

.line{
	color: gray;
	margin-top: 5px;
}

.return{
	width: 25%;
	height: 100px;
	float: left;
}

.support{
	width: 24%;
	height: 100px;
	float: left;
	margin-left: 10px;
}

.payment{
	width: 25%;
	height: 100px;
	float: left;
	margin-left: 10px;
}

.widerange{
	width: 1200px;
	height: 550px;
	padding-top: 100px;
	margin: auto;
	text-align: center;
	font-family: arial;
	color: gray;
}

.widerange p{
	font-family: "Roboto Condensed",sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #222;
    margin-bottom: 10px;
}

.widerangeimg{
	width: 1200px;
	float: left;
}

.imgbox{
	border: 0px solid;
	width: 170px;
	height: 160px;
	float: left;
	margin-top: 35px;
	margin-left: 10px;
	margin-right: 20px;
	background-color: rgba(245, 245, 245, 1.0);
}

.imgbox:hover{
	box-shadow: 0px 0px 5px lightgray;
	background-color: white;
}

.imgbox:hover h4{
	color: orange;
}

.widerangeimg a{
	text-decoration: none;
	color: #333;
}

.widerangeimg h4{
	font-family: "Roboto Condensed",sans-serif;
	font-weight: 300;
	margin-top: 7px;
}

.greatchoice{
	width: 1400px;
	margin: auto;
	float: center;
	text-align: center;
	font-family: arial;
	color: gray;
	position: relative;

}

.greatchoice p{
	font-family: "Roboto Condensed",sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #222;
    margin-bottom: 10px;
}

.greatchoiceimg{
	width: 100%;
	margin: auto;
	margin-top: 30px;
}

.greatleft{
	width: 336px;
	height: 367px;
	background-color: rgba(240, 240, 240, 1.0);
	padding-top: 90px;	
	box-sizing: border-box;
	float: left;
	margin-top: 50px;
	margin-left: 10px;
}

.greatleftimg{
	margin: auto;
}

.greatleftimg a{
	text-decoration: none;
}

.greatleftimg p{
	font-weight: bold;
	font-family: arial;
	font-size: 14px;
	text-align: left;
	margin-left: 30px;
	margin-top: 20px;
}

.greatcenter{
	width: 367px;
	height: 260px;
	background: white;
	position: absolute;
	left: 355px;
	top: 187px;
	text-align: left;
}

.grtcentercontent{
	margin-left: 45px;
	margin-top: 25px;
}

.grtcentercontent p{
	margin-top: 30px;
}

.grtcentercontent input{
	width: 125px;
	height: 45px;
	background: #f6931c;
	border: 0.5px solid #f6931c;
	color: white;
	font-size: 16px ;
	font-weight: bold;
	margin-top: 30px;
}

.grtcentercontent input:hover{
	background: white;
	color: #f6931c;
}

.greatright{
	float: right;
	margin-right: 10px;
}

.bestselling{
	width: 100%;
	margin: auto;
	float: left;
	text-align: center;
	font-family: arial;
	color: gray;
	margin-top: 60px;
}

.bestselling p{
	font-family: "Roboto Condensed",sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #222;
    margin-bottom: 10px;
 }

 .bestsellingimgrow{
 	width: 1200px;
 	margin: auto;
 	margin-top: 20px;
 }

 .bestsellingimgbox{
 	width: 270px;
 	height: 260px;
 	float: left;
 	margin: 15px;
 	text-align: left;
 }

 .bestsellingimgbox a{
 	text-decoration: none;
 }

 .bestsellingimgbox h4{
 	font-size: 14px;
 	color: black;
 	margin-top: 10px;
 }

 .bestsellingimgbox p{
 	font-size: 15px;
 	color: #a37037;
 	margin-top: 10px;
 	font-weight: 400;
 }

 .bestsellingimgbox a:hover h4{
 	color: #f6931c;
 	text-decoration: underline;
 	transition: 0s;
 }

 .newbeginning{
 	width: 770px;
 	height: 369px;
 	float: left;
 	margin-top: 20px;
 	margin-left: 15px;
 	position: relative;
 }

 .newbegincontent{
 	position: absolute;
 	left: 40px;
 	top: 50px;
 	text-align: left;
 }

 .newbeginning h4{
 	font-weight: 700;
 	margin-top: 10px;
 }

  .newbeginning h2{
 	font-size: 32px;
 	font-weight: 400;
 	color: black;
 	margin-top: 25px;
 }

 .newbeginning p{
 	font-size: 16px;
 	color: gray;
 	margin-top: 25px;
 }

 .newbeginning input{
	width: 125px;
	height: 45px;
	background: #f6931c;
	border: 0.5px solid #f6931c;
	color: white;
	font-size: 16px ;
	font-weight: bold;
	margin-top: 30px;
}

.newbeginning input:hover{
	background: white;
	color: #f6931c;
}

 .nathan{
 	width: 380px;
 	height: 369px;
 	background: #fff4e9;
 	float: right;
 	margin-top: 20px;
 	margin-right: 10px;
 	padding-top: 40px;
 	box-sizing: border-box;
 }

 .nathan a{
 	text-decoration: none;
 	color: black;
 }

 .nathan h2{
 	font-weight: 400;
 	font-size: 29px;
 }

 .nathan h4{
 	font-weight: 400;
 	color: dimgray;
 	margin-top: 20px;
 }

 .trending{
	width: 100%;
	margin: auto;
	float: left;
	text-align: center;
	font-family: arial;
	color: gray;
	margin-top: 60px;
}

.trending p{
    font-weight: 300;
    font-size: 30px;
    color: #222;
    margin-bottom: 10px;
 }

 .trendingimgrow{
 	width: 1200px;
 	margin: auto;
 	float: center;
 }

 .trendingimgrow1{
 	width: 1200px;
 	margin: auto;
 	margin-top: 20px;
 	float: left;
 }

 .trendimgbox{
 	width: 370px;
 	height: 270px;
 	float: left;
 	margin: 15px;
 	text-align: left;
 }

 .trendimgbox a{
 	text-decoration: none;
 }

 .trendimgbox p{
 	font-size: 15px;
 	font-weight: 530;
 	margin-top: 10px;
 }

 .trendimgbox a:hover p{
 	color: #f6931c;
 	transition: 0s;
 }

 .trendingimgrow2{
 	width: 1200px;
 	height: 470px;
 	margin: auto;
 	float: left;
 	position: relative;
 	margin-top: 50px;
 }

 .trendingtable{
 	width: 49%;
 	margin: auto;
 	float: left;
 	position: relative;
 }

 .trendingtable img{
 	position: absolute;
 	right: 0px;
 }

 .trendtableboxcontent{
	width: 285px;
	height: 290px;
	background: white;
	position: absolute;
	left: 10px;
	top: 75px;
	text-align: left;
	margin-left: 20px;
	margin-top: 20px;
}

.trendtableboxcontent h4{
	margin-top: 20px;
}

.trendtableboxcontent p{
	margin-top: 40px;
}

.trendtableboxcontent input{
	width: 125px;
	height: 45px;
	background: #f6931c;
	border: 0.5px solid #f6931c;
	color: white;
	font-size: 16px ;
	font-weight: bold;
	margin-top: 30px;
}

.trendtableboxcontent input:hover{
	background: white;
	color: #f6931c;
}

.trendingbed{
 	width: 49%;
 	margin: auto;
 	float: right;
 	position: relative;
 }

 .trendingbed img{
 	position: absolute;
 	left: 0px;
 }

 .trendbedboxcontent{
	width: 290px;
	height: 290px;
	background: white;
	position: absolute;
	right: 20px;
	top: 70px;
	text-align: left;
	margin-top: 20px;
}


.trendbedboxcontent h4{
	margin-top: 20px;
	margin-left: 15px;
}

.trendbedboxcontent p{
	margin-top: 40px;
	margin-left: 15px;
}

.trendbedboxcontent input{
	width: 125px;
	height: 45px;
	background: #f6931c;
	border: 0.5px solid #f6931c;
	color: white;
	font-size: 16px ;
	font-weight: bold;
	margin-top: 30px;
	margin-left: 15px;
}

.trendbedboxcontent input:hover{
	background: white;
	color: #f6931c;
}

.trendy{
	width: 100%;
	margin: auto;
	float: left;
	text-align: center;
	font-family: arial;
	color: gray;
	margin-top: 60px;
}

.trendy p{
	font-family: "Roboto Condensed",sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #222;
    margin-bottom: 10px;
 }

 .trendyimgrow{
 	width: 1200px;
 	margin: auto;
 	margin-top: 20px;
 }

 .trendyimgbox{
 	width: 270px;
 	height: 260px;
 	float: left;
 	margin: 15px;
 	text-align: left;
 }

 .trendyimgbox a{
 	text-decoration: none;
 }

 .trendyimgbox h4{
 	font-size: 14px;
 	color: black;
 	margin-top: 10px;
 }

 .trendyimgbox p{
 	font-size: 15px;
 	color: #a37037;
 	margin-top: 10px;
 	font-weight: 400;
 }

 .trendyimgbox a:hover h4{
 	color: #f6931c;
 	text-decoration: underline;
 	transition: 0s;
 }

 .wintersale{
 	float: left;
 	margin-top: 60px;
 	margin-left: 15px;
 	position: relative;
 }

 .wintercontent{
 	position: absolute;
 	left: 120px;
 	top: 70px;
 	text-align: left;
 }

 .wintersale h3{
 	color: #f6931c;
 	font-weight: 700;
 	margin-top: 10px;
 }

  .wintersale h1{
 	font-size: 46px;
 	font-weight: 400;
 	color: black;
 	margin-top: 10px;
 }

 .wintersale p{
 	font-size: 16px;
 	color: gray;
 	margin-top: 25px;
 }

 .wintersale input{
	width: 125px;
	height: 45px;
	background: #f6931c;
	border: 0.5px solid #f6931c;
	color: white;
	font-size: 16px ;
	font-weight: bold;
	margin-top: 30px;
}

.wintersale input:hover{
	background: white;
	color: #f6931c;
}

.explore{
	width: 100%;
	height: 500px;
	margin: auto;
	float: left;
	text-align: center;
	font-family: arial;
	color: gray;
	margin-top: 60px;
	line-height: 22px;
}

.explore p{
    font-weight: 400;
    font-size: 30px;
    color: #222;
    margin-bottom: 10px;
 }

 .exploreimgrow{
 	width: 1200px;
 	margin: auto;
 	float: center;
 	margin-top: 15px;
 }

.exploreimgbox{
 	width: 370px;
 	height: 270px;
 	float: left;
 	margin: 15px;
 	text-align: left;
 }

 .exploreimgbox a{
 	text-decoration: none;
 }

 .exploreimgbox h4{
 	color: black;
 	font-weight: 500;
 	font-size: 18px;
 	margin-top: 10px;
 	margin-bottom: 10px;
 }

 .offlinestore{
	width: 100%;
	height: 520px;
	margin: auto;
	float: left;
	text-align: center;
	font-family: arial;
	color: gray;
	margin-top: 40px;
	line-height: 22px;
}

.offlinestore p{
    font-weight: 300;
    font-size: 30px;
    color: #222;
    margin-bottom: 10px;
 }

 .offlineimgrow{
 	width: 1200px;
 	margin: auto;
 	float: center;
 	margin-top: 15px;
 }

.offlineimgbox{
 	width: 580px;
 	height: 390px;
 	margin: auto;
 	float: left;
 	margin: 10px;
 	text-align: left;
 }

 .offlineimgbox img{
 	float: left;
 }

 .offlineimgbox a{
 	text-decoration: none;
 	color: black;
 	float: left;
 }

 .address{
 	width: 580px;
 	height: 126px;
 	padding-left: 20px;
 	padding-top: 15px;
 	background-color: rgba(245, 245, 245, 1.0);
 	box-sizing: border-box;
 	float: left;
 }

 .addlogo{
 	width: 60px;
 	height: 60px;
 	font-size: 26.7px;
    border: 3px solid #ece2d8;
    padding: 11px 0px 0px 17px;
    border-radius: 100%;
    color: #a37134;
    float: left;
    box-sizing: border-box;
 }

 .addcontent{
 	width: 450px;
 	float: left;
 	margin-left: 20px;
 }

 .address h4{
 	font-size: 20px;
 	font-weight: 500;
 	font-family: arial;
 }

 .address p{
 	font-size: 14px;
 	color: gray;
 	margin-top: 10px;
 	margin-right: ;
 }

 .offlineimgbox:hover .address{
 	background-color: white;
 	transition: 0s;
 	box-shadow: 0px 0px 5px lightgray;
 }

 .offlineimgbox:hover .addlogo{
 	border: 3px solid lightpink;
 	color: #f6931c;
 }

 .footer{
 	width: 100%;
 	height: 660px;
 	float: left;
 	border-top: 1px solid lightgray;
 }

 .footer1{
 	width: 1500px;
 	margin: auto;
 	height: 420px;
 	border-bottom: 1px solid lightgray;
 	padding-top: 50px;
 	box-sizing: border-box;
 	font-family: arial;
 	line-height: 34px;
 }

 .ourcompany{
 	margin-left: 170px;
 	float: left;
 }

 .footer1 h4{
 	font-size: 18px;
 	margin-bottom: 10px;
 	font-weight: 400;
 }

 .footer1 a{
 	text-decoration: none;
 	font-size: 14px;
 	color: gray;
 }

 .footer1 a:hover{
 	color: #f6931c;
 	transition: 0s;
 }

 .sociallogo{
 	width: 35px;
 	height: 35px;
 	background-color: rgba(240, 240, 240, 1.0);
 	border-radius: 5px;
 	float: left;
 	margin: 20px 10px 0px 0px;
 	padding-left: 10px;
 	padding-top: 2px;
 	box-sizing: border-box;
 }

 .fa-brands{
 	font-size: 18px;
 }

 .sociallogo:hover{
 	background-color: rgba(255, 240, 240, 1.0);
 }

 .costservices{
 	margin-left: 160px;
 	float: left;
 }

 .topcategories{
 	margin-left: 140px;
 	float: left;
 }

 .subscribe{
 	margin-left: 130px;
 	float: left;
 }

 .subscribe li{
 	color: gray;
 	font-size: 14px;
 }

 .subscribe input{
 	width: 250px;
 	height: 40px;
 	color: gray;
 	margin-top: 20px;
 	margin-bottom: 20px;
 	padding-left: 10px;
 	font-size: 14px;
 	border: 0.5px solid lightgray;
 	float: left;
 }

 .sendplane{
 	width: 38px;
 	height: 42px;
 	background-color: #f6931c;
 	float: left;
 	margin-top: 20px;
 	margin-bottom: 20px;
 	padding-top: 7px;
 	padding-left: 5px;
 	box-sizing: border-box;
 }

 .footer2{
 	width: 1500px;
 	height: 200px;
 	margin: auto;
 	font-family: arial;
 }

 .locations{
 	margin-left: 190px;
 	margin-top: 20px;
 }

 .footer2 h4{
 	font-size: 18px;
 	font-weight: 550;
 }

 .furniturelocation{
 	width: 390px;
 	float: left;
 	margin-top: 15px;
 	float: left;
 	text-align: left;
 	font-size: 14px;
 }

 .fa-sharp{
 	color: #a37134;
 	font-size: 22px;
 	float: left;
 	margin-top: 5px;
 }

 .furniturelocation a{
 	text-decoration: none;
 	color: rgba(70, 70, 70, 1.0);
 	float: left;
 	margin-left: 10px;
 	line-height: 25px;
 }

 .furniturelocation a:hover{
 	color: #f6931c;
 	transition: 0s;
 }

 .footer3{
 	width: 100%;
 	height: 40px;
 	background: rgba(245, 245, 245, 1.0);
 	float: left;
 	text-align: center;
 	color: gray;
 	font-family: arial;
 	font-size: 14px;
 	padding-top: 10px;
 	box-sizing: border-box;
 }

